<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="connectBdd"
         connectionString = "Server=77.199.163.104;port=3308; userid=appCompte; password=oN8HUjSeJccY2Oid; Database=mottordus_2018;Convert Zero Datetime=True;Allow Zero Datetime=true;SslMode=none"
            providerName="Mysql.Data.MysqlClient"/>
  </connectionStrings>
</configuration>